[phases.setup]
nixPkgs = ["python312"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn app_simple:app --bind 0.0.0.0:$PORT --workers 1 --threads 2 --timeout 120 --log-level debug"
